.sample-links {
  display: flex;
  font-size: 0.9rem;
  justify-content: flex-end;
}

.sample-links a {
  display: flex;
}

.sample-links a::before {
  display: flex;
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;

  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

.sample-links a:not(:last-of-type) {
  margin-right: 1rem;
}

.sample-links__storybook::before {
  margin-right: 0.375rem;
  background-image: url(/img/_site/storybook-logo.svg);
}

.sample-links__bitbucket::before {
  margin-right: 0.5rem;
  background-image: url(/img/_site/bitbucket-logo.svg);
}
