.search-page-form{
  background-color:$bdr-grey;

  > .search__input{
    color:$text-white;
    
    &::placeholder {
      color: rgba(0, 0, 0, 1);
      -webkit-font-smoothing: antialiased;
    }
  }
}