<footer id="contribution-footer">
	<h1>Improve this page</h1>
	<p>Astro is a living open source guideline. Community feedback is encouraged.</p>
	<p><a href="https://github.com/RocketCommunicationsInc/astro-uxds/edit/master/_content{{ page.filePathStem }}.md">Propose a change to this page</a>.</p>
	<p>Contribute research or feedback</p>
</footer>