<footer id="contribution-footer">
	<h1>Improve this page</h1>
	<p><b>THIS IS TEMPORARY STYLING AND VERBIAGE FOR THIS SECTION.</b></p>
	<p><a href="https://github.com/RocketCommunicationsInc/astro-uxds/edit/master/_content{{ page.filePathStem }}.md">Propose a change or fix to this page</a>.</p>
	
	<p><a href="">How to contribute a change</a>.</p>
</footer>