<link rel="stylesheet" href="/css/footer.css">
<footer class="site-footer">

	<div class="site-footer__publisher">
		<dl class="designed-by">
			<a href="https://www.rocketcom.com">
				<dt>Designed &amp; Stewarded by:</dt>
				<dd class="site-footer__rocket-logo">
					<img src="/img/_site/rocket-logo.svg">
				</dd>
			</a>
		</dl>				
	</div>
	<div class="site-footer__meta">
			<span class="meta-version">Version {{ meta.version }}</span>
			<span class="separator"> | </span>
			<time class="meta-updated-on" datetime="{{ page.date.toISOString() }}">Updated {{ page.date.toDateString() }}</time>
		</div>
</div>


</footer>

