{% extends "base.template.njk" %}


{% block content %}

	<link rel="stylesheet" href="/css/chapters.css">
	{# <link rel="stylesheet" href="/css/components.css"> #}
	<link rel="stylesheet" href="/css/sample. ">

	<h1>{{ title}}</h1>
	{% if demo %}
		
		<div class="demo-container">
		
			<iframe src="{{ demo }}" name="{{ storybook }}" id="live-sample" class="live-sample" scrolling="no" style="width: 100%; height: {{height}}; overflow: hidden;"></iframe>

			<div class="demo-container__sample-links">
				{% if storybook %}
					<a class="sample-links__storybook" href="{{ demo }}">
						Storybook
					</a>
				{% endif %}

				{% if git %}
					<a class="sample-links__github" href="https://github.com/RocketCommunicationsInc/astro-components/tree/master/src/components/{{git}}">Github</a>
				{% endif %}
				
				{% if css %}
					<a class="sample-links__github" href="https://github.com/RocketCommunicationsInc/astro-components/blob/master/src/css/documentation//{{css}}">Github</a>
				{% endif %}
			</div>
			
		</div>
	{% endif %}

	{{ content | safe | removeHeader | doDont }}
	{% include "_compliance.njk" %}
{% endblock %}
