{% extends "base.template.njk" %}

{% block content %}

	<link rel="stylesheet" href="/css/chapters.css">
	{# <link rel="stylesheet" href="/css/components.css"> #}
	<link rel="stylesheet" href="/css/sample.css">

	<h1>{{ title }}</h1>
	{% if demo %}

		<div class="demo-container">

			<img src="/img/components/{{demo}}-hero.png" style="max-width: 100%"/>

			<div class="demo-container__sample-links">
				<p style="color: #fff; text-align: left;">Please note due to static image rendering, this image should not be used to derive element dimensions</p>
			</div>
		</div>
	{% endif %}

	{{ content | safe | removeHeader | doDont }}
	
{% endblock %}
