<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon.ico">
		<link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/img/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">

		<title>{{ title }}</title>

		<!-- 
		TODO: Investigate why this is failing
		should preload critical css via http2, but it‘s not loading and throwing an error in chrome
		<link rel="preload" href="/css/variables.css" as="style"> 
		//-->
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/variables.css">
		<link rel="stylesheet" href="/css/core.css">
		<link rel="stylesheet" href="/css/typography.css">
		<link rel="stylesheet" media="print" href="/css/print.css">

	</head>

	<link rel="stylesheet" href="/css/home.css">
	<body class="home">
	{% include "_nav.njk" %}
		<div class="home__container">
			<div class="home__head-material">

			

				<header class="home__masthead">
					<img src="/img/_site/astro-logo.svg" class="home__logo">
				</header>

				<section class="home__intro">
					{{ content | safe }}
					<a href="/getting-started/readme" class="primary">Getting Started</a>
				</section>
			</div>
			<div class="home__body-material">

			

			</div>

			{% include "_footer.njk" %}

		</div>
	</body>
</html>