{% macro demoLinks(source, height) %}
	<iframe id="live-sample"
	class="live-sample" scrolling="no"
	src="{{ source }}"
	style="width: 100%; height: {{ height }}; overflow: hidden;"
	></iframe>
{% endmacro %}